<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Ninja Grocery - Login</title>

<!-- Viewport -->

<link rel="shortcut icon" href="static/imagenes/fav/favicon.ico" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="apple-mobile-web-app-status-bar-style" content="black" > 
<meta name="apple-mobile-web-app-capable" content="yes" >

<!-- Hojas de estilo -->
<link rel="stylesheet" href="static/css/login.css" type="text/css" media="all" >

<!-- Scripts -->
<script src="static/js/jquery-2.2.4.min.js"></script>
<script src="static/js/login.js"></script>

</head>

<body>
	<div id="login_table">
    	<div id="login_cell">
        	<div id="login_box">
                <div class="login_space"></div>
            	<img src="static/imagenes/logo/logo.png" id="logo">
                <div id="login_main">
                	<form id="login_form">
                        <input class="form-control" type="text" placeholder="Usuario" name="user" id="login_user">
                        <input class="form-control" type="password" placeholder="Clave" name="pass" id="login_pass">
                        <div id="login_access" class="login_access" data-nombre="Entrar">
                            Entrar
                        </div>
                    </form>
                </div>
                <div class="login_space"></div>
            </div>
        </div>
    </div>
</body>
</html>