@charset "utf-8";
/* CSS Document */
#usuarios_fondo{
	width:calc(100% - 40px);
	margin:auto;
	margin-top:20px;
	background:#ffffff;
	padding:10px;
}
.usuarios_row1, .usuarios_row2, .usuarios_row3, .usuarios_row4, .usuarios_row5, .usuarios_row6{
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.usuarios_row1{
	width:calc(19% - 10px);
	cursor:pointer;
}
.usuarios_row2{
	width:calc(20% - 10px);
	cursor:pointer;
}
.usuarios_row3{
	width:calc(12% - 10px);
	cursor:pointer;
}
.usuarios_row4{
	width:calc(10% - 10px);
	cursor:pointer;
}
.usuarios_row5{
	width:calc(12% - 10px);
	cursor:pointer;
}
.usuarios_row6{
	width:calc(12% - 10px);
	cursor:pointer;
}
.usuarios_row7{
	width:calc(15% - 10px);
}

.usuarios_reg_row1{
	width:calc(19% - 10px);
}
.usuarios_reg_row2{
	width:calc(20% - 11px);
}
.usuarios_reg_row3{
	width:calc(12% - 11px);
}
.usuarios_reg_row4{
	width:calc(10% - 11px);
}
.usuarios_reg_row5{
	width:calc(12% - 11px);
}
.usuarios_reg_row6{
	width:calc(12% - 11px);
}
.usuarios_reg_row7{
	width:calc(15% - 11px);
	text-align:center;
}
.usuario_eliminar, .usuario_editar, .usuario_bloquear{
	font-family: 'fontello';
	font-size:26px;
	cursor:pointer;
	transition:all ease-in-out 0.2s;
    padding: 5px;
}
.usuario_eliminar:hover{
	color:#db4848;
}
/*
.usuario_editar, .usuario_bloquear{
	margin-left:5px;
}
*/
.usuario_editar:hover{
	color:#16a085;
}
.usuario_bloquear:hover{
	color:#43a0df;
}

/* input */
.usuario_input_form{
    width: calc(100% - 10px);
    padding: 4px;
    font-size: 14px;
    color: #333;
    outline: none;
    font-family: "OpenSans";
    margin-top: 6px;
	border: 1px solid #cccccc;
	margin-bottom:0px;
}
.usuario_input_form:focus{
	border: 1px solid #aaaaaa;
}
/* select */
select {
    padding:4px;
    margin-top:6px;
    background: #fff;
    color:#666666;
	font-size: 14px;
    border: 1px solid #cccccc;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    width: 100%;
	font-family: "OpenSans";
}
label {position:relative; }
label:after {
    font-family: 'fontello';
    content: "\e827";
    font-size: 14px;
    color:#666666;
    right:8px; top:5px;
    padding:0 0 2px;
    position:absolute;
    pointer-events:none;
}
label:before {
    content:'';
    right:4px; top:0px;
    width:18px; height:23px;
	line-height:23px;
    background:#fff;
    position:absolute;
    pointer-events:none;
    display:block;
}

.usuarios_error_message{
	background:#d24d57;
	color:#FFFFFF;
	font-size:12px;
    padding: 2px 4px 2px 4px;
	border: 1px solid #d24d57;
	font-family: "OpenSansLight";
}

#usuario_panel_izquierdo, #usuario_panel_derecho{
	float:left;
}
#usuario_panel_derecho{
	width:calc(50% - 15px);
	margin-left:15px;
}
#usuario_panel_izquierdo{
	width:50%;
}

#usuario_add{
	clear:both;
}
.usuarios_margenTitulo{
	margin-top:12px;
}
.usuarios_responsiveModal{
	width:700px;
}
@media only screen and (max-width:1500px){
	.usuarios_row1{
		width:calc(20% - 10px);
		cursor:pointer;
	}
	.usuarios_row2{
		width:calc(20% - 10px);
		cursor:pointer;
	}
	.usuarios_row3{
		width:calc(15% - 10px);
		cursor:pointer;
	}
	.usuarios_row4{
		width:calc(14% - 10px);
		cursor:pointer;
	}
	.usuarios_row5{
		display:none;
	}
	.usuarios_row6{
		width:calc(16% - 10px);
		cursor:pointer;
	}
	.usuarios_row7{
		width:calc(15% - 10px);
	}
	.usuarios_reg_row1{
		width:calc(20% - 10px);
	}
	.usuarios_reg_row2{
		width:calc(20% - 11px);
	}
	.usuarios_reg_row3{
		width:calc(15% - 11px);
	}
	.usuarios_reg_row4{
		width:calc(14% - 11px);
	}
	.usuarios_reg_row5{
		display:none;
	}
	.usuarios_reg_row6{
		width:calc(16% - 11px);
	}
	.usuarios_reg_row7{
		width:calc(15% - 11px);
		text-align:center;
	}
}
@media only screen and (max-width:1024px){
	#sistema_table, #sistema_order_mascara{
		width:1200px;
	}
}
@media only screen and (max-width:768px){
	#sistema_table, #sistema_order_mascara{
		width:768px;
	}
}